* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(44, 43, 35, 0.491);
}
.col {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  /* border: 1px solid black; */
}
.form {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.titulo-carta {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.titulohome {
  padding: 1rem;
  font-size: 4rem;
}
.titulohome2 {
  padding: 1rem;
  font-size: 1rem;
}
.letter {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#logonegro {
  width: 130px;
  height: 130px;
}
.footer {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item {
  height: 100%;
  background-color: rgba(53, 32, 7, 0.824);
  width: 100%;
  color: bisque;
  margin-top: 10px;
}
